@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto Serif', sans-serif; */
  font-family: 'Comfortaa', cursive;
    line-height: 25px;
}

a {
text-decoration: none;
}

.title:hover {
  color: #d9ead3 ;
}


/* --------------------- burger menu --------------------------- */


.burger-menu {
width: 40px;
height: 40px;
border-radius: 50%;
margin-left: 85%;
margin-top: 5vh;
position: absolute;
z-index: 10;
}

.icon {
z-index: 8;
/* margin-top: 40%; */
width: 70%;
height: auto;
padding: 5px;
}

.icon:hover {
  width: 70%;
  background-color: #d9ead3;
  padding: 5px;
  border-radius: 50%;
  transform: rotate(45deg);
  transition-duration: 200ms;
  }


nav {
/* background-color: rgb(70, 112, 160); */
background-color: #d9ead3;
position: fixed;
z-index: 9;
top: 0;
right: 0;
height: 100%;
width: 0%;
overflow-y: auto;
}

.nav-container {
margin-top: 2.5vh;
}

ul {
margin-top: 15vh;
list-style-type: none;
text-align: center;
}

a{
color: black;
/* color: white; */
text-decoration: none;
text-transform: uppercase;
font-size: 1.5rem;
display: block;
letter-spacing: 5px;
padding: 20px 0;
}


/* Fin du burger menu --------------------------- */

.container {
width: 100%;
height: 100vh;
}

.animated-svg {
width: 20%;
margin-top: 20vh;
margin-left: 40%;
}

/* block dessins --------------------------- */


.dessins {
  display: flex;
  flex-wrap: nowrap;
}
.draws-block {
  width: 84%;
  height: 80vh;
  margin-top: 15vh;
  margin-left: 5%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contenus-block {
  width: 84%;
  max-height: 85vh;
  margin-top: 15vh;
  margin-left: 5%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.text-block {
  width: 100%;
  margin: 0 2% 0 6%;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: 20vh;
  max-height: 12vh;
}

.text-block.paradoxes {
  padding-right:4%;
  padding-left:4%;
}

.big-picture-block {
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
  margin: 0 2% 0 6%;
  text-align: center;
  max-height: 80vh;
}
.big-picture-block.paradoxes {
  margin-top: 0;
}

.big-picture-block.big {
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
  margin: 0 2% 0 6%;
  text-align: center;
  max-height: 135vh;
}

.big-picture-block.big img {
  max-height: 135vh;
  height: auto;
  padding: 0;
}

/* big maxi pour le paysage au feutre en pleine page */
.big-picture-block.big.maxi {
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
  margin: 0 2% 0 6%;
  text-align: center;
  max-height: 200vh;
}

.big-picture-block.big.maxi img {
  max-height: 200vh;
  height: auto;
  padding: 0;
}

.big-picture-block img {
  max-height: 80vh;
  height: auto;
  padding: 0;
}

/* La largeur est séparée de manière égale pour deux images côte à côté */
.big-picture-block.big.double {
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
  margin: 0 2% 0 6%;
  text-align: center;
  max-height: 135vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.big-picture-block.big.double img {
  max-height: 65vh;
  height: auto;
  padding: 0;
}

.big-picture-block .grid {
  height: auto;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

.big-picture-block .grid img {
  max-height: 30vh;
  height: auto;
  padding: 0;
}

.draw {
  width: 28%;
}

.draw > img {
  padding: 5%;
  margin: 0;
  width: 100%;
  height: auto;
}
.draw > .overlay {
  padding: 5%;
  margin: 0;
  width: 90%;
  height: 26%;
  position: relative;
  background-color: rgba(243, 249, 255, 0.879);
  margin-left: 5%;
  margin-top: -19.5vh;
  display: none;
}

.draw > img:hover + div {
  transition-duration: 4s;
  display: block;
}

/* block formulaire --------------------------- */
.form-bloc {
width: 100%;
text-align: center;
margin: 0 10%;
height: 120Vh;
}

.form-text {
width: 100%;
}

/* Texte qui se trouve page about il partage une partie de l'espace avec une image */
.text-double {
  width: 50%;
}


 /* enquete */

 .big-picture-block-enquete {
  margin: 0;
  margin-top: 4vh;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 8%;
  gap:7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-picture-block-enquete img {
  margin: 0;
  width: inherit;
  max-width: 53%;
}


  /* About */

  .dessins-about {
    margin: 0;
    /* margin-left: 0; */
    max-height: none;
    height: unset;
    width: 100%;
    padding: 0;
  }

  .contenus-block-about {
    width: 100%;
    max-height: none;
    height: unset;
  }

  .big-picture-block-big-about{
    margin: 0;
    padding: 0;
  }

  .about-big-picture {
    margin-top: 0;
    margin-left: 0;
    max-height: none;
    height: unset;
    width: 100%;
    padding: 0;
  }

  .text-block-about {
    margin:0; padding: 0 7%;
  }
  .text-paragraph-about {
    text-align:start;
    overflow-wrap: break-word;
    white-space: pre-line;
    width: 100%;
    text-align: justify;
  }

  .big-picture-block-big-double-about {
    margin:0;
    max-height: none;
    height: unset;
    gap: 1%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    display: flex;
    padding: 0 7%;
  }

  .text-double-about {
    align-items: center;
    overflow-wrap: break-word;
    white-space: pre-line;
    text-align: justify;
    height: unset;
    max-height: none;
    max-width: 60%;
  }

  .portrait {
    max-height: 30vh;
    height: unset;
  }

  .spacer-about {
    padding: 0.5vh 0;
    height: 1%;
    width: 100%;
  }

  /* Mouvements */

  .double-picture-mouvement {
    max-height: 50vh;
    height: unset;
  }

  .big-picture-block-mouvements {
    margin:0;
    max-height: none;
    height: unset;
    gap: 1%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    display: flex;
    padding: 0 7%;
    width: 100%;
  }

  .big-picture-block-mouvements img{
    /* margin:0; */
    max-height: none;
    height: unset;
    max-width: 50%;
    width: 100%;
  }

  .spacer-mouvements {
    padding: 0.5vh 0;
    height: 1%;
    width: 100%;
    margin: 5vh 0;
  }



  .double-picture-mouvement {
    max-height: 20vh;
    height: unset;
  }

  .big-picture-block-mouvements {
    max-height: none;
    height: unset;
    padding: 0 7%;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
  }

  .big-picture-block-mouvements img{
    /* margin:0; */
    max-height: none;
    height: unset;
    max-width: 100%;
    width: 45%;
  }

  .big-picture-block-big-double-mouvements {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* display: flex;
    margin-left: auto;
    justify-content: center;
    margin-right: auto;
    flex-wrap: wrap; */
    padding: 0 7%;
  }

  .big-picture-block-big-double-mouvements img {
    max-height: 35vh;
    height: unset;
  }

  .big-picture-block-big-double-mouvements  .text-double-about {
    height: unset;
    max-height: none;

  }

  .container-triple {
    display: flex;
    flex-wrap: wrap;
    gap: 5vh;
  }
  .container-triple img{
    width: 100%;
    max-width: 30%;
  }

  .spacer-mouvements {
    padding: 0.5vh 0;
    height: 1%;
    width: 100%;
  }











