@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Comfortaa', cursive;
  line-height: 25px;
}

.container {
  width: 90%;
  height: 100vh;
  position: fixed;
  margin: 0;
  padding: 0 ;
}

.animated-svg {
  width: 80%;
  margin-top: 15vh;
  margin-left: 12.5%;
}

.title {
  color: rgb(93, 93, 93);
  margin-left: 2.5%;
  padding-top: 2vh;
  font-size: 14px;
  position: absolute;
  z-index: 3;
  /* text-transform: capitalize; */
  font-size: large;
  font-weight: 800;
}


/* --------------------- burger menu --------------------------- */


.burger-menu {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 79%;
  /* margin-left: 57%; */
  position: absolute;
  z-index: 10;
}

.icon {
  margin-top: 0vh;
  padding-top: 0;
  width: 50%;
  height: auto;
}


nav {
  background-color: #d9ead3;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100%;
  /* max-width: 715px; */
  width: 0%;
  overflow-y: auto;
}

.nav-container {
  text-align: center;
  margin-left: -10%;
  margin-top: 15vh;
}

ul {
  list-style-type: none;
}

a{
  /* color: white; */
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  letter-spacing: 5px;
  font-weight: 600;
  padding-bottom: 5vh;
  padding-top: 0;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}


/* block dessins --------------------------- */


.dessins {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0;
}
.draws-block {
  width: 44%;
  height: 40vh;
  margin-top: 5vh;
  margin-left: 5%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contenus-block {
  width: 100%;
  max-height: 340vh;
  margin-top: 5vh;
  margin-left: 2.5%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.text-block {
  width: 100%;
  padding: 0 8% 0% 1%;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 5vh;
  height: auto;
  /* max-height: 20vh; */
}

.text-block p{
  width: 100%;
  margin: 0;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  height: auto;
  /* max-height: 20vh; */
}

.text-block.paradoxes {
  padding-right:3%;
}

.big-picture-block {
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
  margin: 0 1% 0 3%;
  text-align: center;
  max-height: 200vh;
  /* margin-top: 15px;
  margin-bottom: 30px; */
}

.big-picture-block.paradoxes {
  margin-top: 10vh;
}

.big-picture-block.big {
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
  margin: 0 1% 0 3%;
  text-align: center;
  max-height: 70vh;
}

.big-picture-block.big img {
  /* max-height: 70vh; */
  height: auto;
  padding: 0;
}

/* big maxi pour le paysage au feutre en pleine page */
.big-picture-block.big.maxi {
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
  margin: 0 1% 0 3%;
  text-align: center;
  max-height: 40vh;
}

.big-picture-block.big.maxi img {
  max-height: 45vh;
  height: auto;
  padding: 0;
}

.big-picture-block img {
  max-height: 40vh;
  height: auto;
  padding: 0;
}

.big-picture-block.big.double {
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
  padding: 0 5% 0 1%;
  text-align: center;
  max-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.big-picture-block.big.double img {
  max-height: 38vh;
  height: auto;
  padding: 10px 0 10px 0;
}

.big-picture-block .grid {
  height: auto;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
}

.big-picture-block .grid img {
  max-height: 34vh;
  height: auto;
  padding: 0;
}


.draw {
  width: 14%;
}

.draw > img {
  padding: 3%;
  margin: 0;
  width: 100%;
  height: auto;
}
.draw > .overlay {
  padding: 2.5%;
  margin: 0;
  width: 45%;
  height: 13%;
  position: relative;
  background-color: rgba(243, 249, 255, 0.879);
  margin-left: 3%;
  margin-top: -10vh;
  display: none;
}

.draw > img:hover + div {
  transition-duration: 4s;
  display: block;
}


/* block formulaire --------------------------- */
.form-bloc {
  width: 90%;
  text-align: center;
  height: 130Vh;
  margin-left: -15px;
  margin-top: 10px;
  }

  .form-text {
  width: 100%;
  margin-left: 20px;
  }

/* page about --------------------------- */
  /* .big-picture-block.big {
    max-height: 30vh;
  } */

  .big-picture-block.big.about {
    max-height: 30vh;
  }
  .about-big-picture {
    max-height: 20vh;
    width: 100%;
  }


  /* enquete */

  .big-picture-block-enquete {
    margin: 0;
    margin-top: 4vh;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    gap:10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 10%;
  }

  .big-picture-block-enquete .img-enquete {
    margin: 0;
    width: inherit;
  }


  /* About */

  .text-block-about {
    margin:0; padding: 0 7%;
  }
  .text-paragraph-about {
    text-align:start;
    overflow-wrap: break-word;
    white-space: pre-line;
    width: 100%;
    text-align: justify;
  }

  .text-double-about {
    height: 30vh;
    align-items: center;
    overflow-wrap: break-word;
    white-space: pre-line;
    text-align: justify;
  }

  .big-picture-block-big-double-about {
    padding: 0 7%;
  }

  .portrait {
    max-height: none;
    width: 100%;
  }

  .spacer-about {
    padding: 0.5vh 0;
    height: 1%;
    width: 100%;
  }






