.container {
  width: 100%;
  height: 100vh;
}

img {
  width: 20%;
  margin-top: 10vh;
  margin-left: 40%;
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .container {
      width: 100%;
      height: 100vh;
    }

    img {
      width: 80%;
      margin-top: 10vh;
      margin-left: 10%;
    }
}

/* .forms {
  animation-duration: 25s;
  animation-name: tournaround;
}

@keyframes tournaround {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} */