<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>D.Minnesang</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;200;400&display=swap');
    </style>
      <link
      rel="stylesheet"
      media="screen and (max-width: 740px)"
      href="../css/mobile.css"
      type="text/css"
      />
      <link
      rel="stylesheet"
      media="screen and (min-width: 741px)"
      href="../css/desktop.css"
      type="text/css"
      />
      <script src="https://cdn.jsdelivr.net/npm/vivus@latest/dist/vivus.min.js"></script>
</head>
<body>
<!--------------- Burger - menu -------------->
<a class="title" href="../index.html">D.Minnesang</a>

<div class="burger-menu" id="burger-div">
    <span class="burger" id="burger">
    <p id="icon">
      <img class="icon" src="../assets/icon-open.png" alt="">
    </p>
  </span>
</div>

<nav id="panel">
  <div class="nav-container">
      <ul class="main">
        <li><a href="../index.html">Accueil</a></li>
        <li><a href="./page-poemes.html">Poèmes</a></li>
        <li><a href="#">En vrac</a></li>
        <li><a href="#">A propos</a></li>
      </ul>
  </div>
</nav>

<div class="dessins">
  <div class="draws-block">
    <div class="draw"><img src="../assets/draws/Dessin1.jpeg" alt=""><div class="overlay"><p>Je suis le texte</p></div></div>
    <div class="draw"><img src="../assets/draws/Dessin20.jpeg" alt=""><div class="overlay"><p>Je suis le texte</p></div></div>
    <div class="draw"><img src="../assets/draws/Dessin35.jpeg" alt=""><div class="overlay"><p>Je suis le texte</p></div></div>
    <div class="draw"><img src="../assets/draws/Dessin2.jpeg" alt=""><div class="overlay"><p>Je suis le texte</p></div></div>
    <div class="draw"><img src="../assets/draws/Dessin30.jpeg" alt=""><div class="overlay"><p>Je suis le texte</p></div></div>
    <div class="draw"><img src="../assets/draws/Dessin3.jpeg" alt=""><div class="overlay"><p>Je suis le texte</p></div></div>
    <div class="draw"><img src="../assets/draws/Dessin31.jpeg" alt=""><div class="overlay"><p>Je suis le texte</p></div></div>
    <div class="draw"><img src="../assets/draws/Dessin24.jpeg" alt=""><div class="overlay"><p>Je suis le texte</p></div></div>
    <div class="draw"><img src="../assets/draws/Dessin25.jpeg" alt=""><div class="overlay"><p>Je suis le texte</p></div></div>
    <div class="draw"><img src="../assets/draws/Dessin5.jpeg" alt=""><div class="overlay"><p>Je suis le texte</p></div></div>
    <div class="draw"><img src="../assets/draws/Dessin10.jpeg" alt=""><div class="overlay"><p>Je suis le texte</p></div></div>
    <div class="draw"><img src="../assets/draws/Dessin28.jpeg" alt=""><div class="overlay"><p>Je suis le texte</p></div></div>
    <div class="draw"><img src="../assets/draws/Dessin32.jpeg" alt=""><div class="overlay"><p>Je suis le texte</p></div></div>
    <div class="draw"><img src="../assets/draws/Dessin14.jpeg" alt=""><div class="overlay"><p>Je suis le texte</p></div></div>
    <div class="draw"><img src="../assets/draws/Dessin9.jpeg" alt=""><div class="overlay"><p>Je suis le texte</p></div></div>
  </div>
  <div class="explanation"></div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vivus@latest/dist/vivus.min.js"></script>
<script src="../js/pages.js"></script>
</body>
</html>