<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>D.Hervé</title>
      <link
      rel="stylesheet"
      media="screen and (max-width: 740px)"
      href="../css/mobile.css"
      type="text/css"
      />
      <link
      rel="stylesheet"
      media="screen and (min-width: 741px)"
      href="../css/desktop.css"
      type="text/css"
      />
      <script src="https://cdn.jsdelivr.net/npm/vivus@latest/dist/vivus.min.js"></script>
</head>
<body>
<!--------------- Burger - menu -------------->
<div style="display: flex; align-items: inherit; text-align: start; height: 10vh; display: flex; align-items: center;text-align: start;">
  <a class="title" style="align-items: center; margin-top: auto; margin-bottom: auto; padding: initial; margin: 5%;"  href="./index.html">Daphné Hervé</a>
    <div style="margin-top: 1vh;  margin-right: 5%" class="burger-menu" id="burger-div">
      <span id="burger">
      <p style="text-align: center; margin-top: 0; " id="icon">
        <img style="width:70%;" class="icon" src="../assets/icon-open.png" alt=""/>
      </p>
    </span>
  </div>
</div>

<!-- BurgerMenu------------------------- -->
<nav id="panel">
  <div class="nav-container">
      <ul class="main">
        <li><a href="../index.html">Accueil</a></li>
        <li><a href="./mouvements.html">Mouvements</a></li>
        <li><a href="./paradoxes.html">Paradoxes</a></li>
        <li><a href="./page-enquete.html">L'enquête</a></li>
        <li><a href="./page-paysages.html">Paysages</a></li>
        <!-- <li><a href="#">En vrac</a></li> -->
        <li><a href="./about.html">A propos</a></li>
        <li><a href="./page-contact.html">Contact</a></li>
      </ul>
  </div>
</nav>

<!-- ContenuPage------------------------- -->
<div class="dessins">
  <div class="contenus-block" style="padding-top:0; margin-top: 0; margin-left: 0; padding: 0%; margin-left: auto; margin-right: auto; width: 90%;">
    <div class="text-block" style="padding-top:0; margin-top: 0;  padding: 0; width: 90%; margin-left: auto; margin-right: auto;">
      <h3 style="margin-top: 0; margin-bottom: 0; z-index: 1; " >L'enquête</h3>
    </div>
    <div class="title-animation" style="position:absolute; width: 100%; text-align: center; margin-left: auto; margin-right: auto; opacity: 0; z-index: 0; margin-top: -3vh; ">
      <img src="../assets/little-animation.svg" alt="">
    </div>
    <div class="text-block" style="padding: 0;  margin-top: 0; width: 95%; margin-left: auto; margin-right: auto;">
      <p style="overflow-wrap: break-word; white-space: pre-line; width: 100%; text-align: justify;">
        L'enquête est l'intrigue d'une bande dessinée non-figurative dont j'ai fait paraître le premier épisode sur mon compte instagram @daphne_herve. Ce sont des aquarelles originales.
      </p>
    </div>
    <div class="big-picture-block" style="margin-top: 3vh; margin-left: auto; margin-right: auto; width: 100%; justify-content: space-between;">
      <div class="grid" style="gap: 10px; ">
        <img src="../assets/draws/enquete/dessin1.jpeg" alt="Dessin aquarelle abstrait">
        <img src="../assets/draws/enquete/dessin2.jpeg" alt="Dessin aquarelle abstrait">
        <img src="../assets/draws/enquete/dessin3.jpeg" alt="Dessin aquarelle abstrait">
        <img src="../assets/draws/enquete/dessin4.jpeg" alt="Dessin aquarelle abstrait">
      </div>
    </div>
    <div class="big-picture-block-enquete">
      <img class="img-enquete" src="../assets/draws/enquete/dessin5.jpg" alt="Dessin aquarelle abstrait dans un cadre">
      <img class="img-enquete" src="../assets/draws/enquete/dessin6.jpg" alt="Dessin aquarelle abstrait dans un cadre">
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vivus@latest/dist/vivus.min.js"></script>
<script src="../js/pages.js"></script>
</body>
</html>